# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Logs
outputs/logs/*.log

# Model checkpoints
outputs/checkpoints/

# Generated datasets

datasets/raw_small/

# OS
.DS_Store
Thumbs.db

# VS Code (optional)
.vscode/